@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__date {
    text-align: center;
  }

}
